:root {
	/*  fonts  */
	--primary-font: 'Roboto', sans-serif;
	--secondy-font: 'Raleway', sans-serif;
	/*  color  */
	--color-iris: #4d5ae5;
	--color-ocean: #404bbf;
	--color-navy-blue: #2e2f42;
	--color-green: #31d0aa;
	--color-slate: #434455;
	--color-light-slate: #8e8f99;
	--color-cornflower: #e7e9fc;
	--color-cloud: #f4f4fd;
	--color-navy-blue-modal: #2e2f42;
	--color-grey: #2e2f42;
	--color-white: #ffffff;
	--color-dairy: #fcfcfc;
	/*  others  */
}

/*
========= base style ========= 
*/
li {
	list-style-type: none;
  }
.link {
	text-decoration: none;
}
body {
	font-family: "Roboto", sans-serif,;
	font-size: 16px;
	font-family: 'Roboto';
	font-weight: 400;
	font-style: normal;
	line-height: 24px;
	letter-spacing: 0.02em;
	text-decoration: none;
	text-transform: none;
	color: var(--color-slate);
	background-color: #FFFFFF;
}

/*
========= logo style ========= 
*/

.logo {	
	font-family: var(--secondy-font);
	font-family: Raleway;
	font-size: 18px;
	font-style: ExtraBold;
	line-height: 21px;
	line-height: 99%;
	line-height: 1.17;
	align-content: Left;
	vertical-align: Center;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #4d5ae5;
	font-weight: 800;
	
}
span {
	color: #2e2f42;
}

/*
========= header style ========= 
*/

.header {
}
.header-nav {
}
.header-nav-list {
}
.header-nav-item {
}
.header-nav-link {
	text-decoration: none;
	list-style: none;
	font-size: 16px;
	font-family: 'Roboto';
	font-weight: 500;
	font-style: normal;
	line-height: 24px;
	letter-spacing: 0.02em;
	text-decoration: none;
	text-transform: none;
	color: #2e2f42;
}
.header-address {
}
.header-address-list {
}
.header-address-item {
}
.header-address-link {
	text-decoration: none;
	list-style: none;
	font-style: normal;
	color: #434455;
	
}

/*
========= main style ========= 
*/

.main {
}
.main-section {
}
.main-section-filter {
}
.main-filter-btn {
}
.main-card-link {
}
.main-card-title {
}
.main-card-text {
}

/*
========= footer style ========= 
*/

.footer {
}
.footer-nav {
}
.footer-nav-text {
}


/*
========= others style ========= 
*/

.main-title {
	font-size: 56px;
	font-family: 'Roboto';
	font-weight: 700;
	font-style: normal;
	line-height: 60px;
	letter-spacing: 0.02em;
	text-decoration: none;
	text-transform: none;
}
.section-title {
	font-size: 36px;
	font-family: 'Roboto';
	font-weight: 700;
	font-style: normal;
	line-height: 40px;
	letter-spacing: 0.02em;
	text-decoration: none;
	text-transform: capitalize;
}
.section-title-light {
	color: #2e2f42;
	font-size: 36px;
	font-family: 'Roboto';
	font-weight: 700;
	font-style: normal;
	line-height: 40px;
	letter-spacing: 0.02em;
	text-decoration: none;
	text-transform: capitalize;
}
.sub-title {
	font-size: 20px;
	font-family: 'Roboto';
	font-weight: 500;
	font-style: normal;
	line-height: 24px;
	letter-spacing: 0.02em;
	text-decoration: none;
	text-transform: none;
}

.desc {
	font-size: 16px;
	font-family: 'Roboto';
	font-weight: 500;
	font-style: normal;
	line-height: 24px;
	letter-spacing: 0.02em;
	text-decoration: none;
	text-transform: none;
}
.button {
	font-family: inherit;
	font-family: 'Roboto';
	font-weight: 500;
	font-style: normal;
	line-height: 24px;
	letter-spacing: 0.04em;
	text-decoration: none;
	text-transform: none;
}
.small-text {
	font-size: 12px;
	font-family: 'Roboto';
	font-weight: 400;
	font-style: normal;
	line-height: 14px;
	letter-spacing: 0.04em;
	text-decoration: none;
	text-transform: none;
}
.link-text {
	font-size: 12px;
	font-family: 'Roboto';
	font-weight: 400;
	font-style: normal;
	line-height: 16px;
	letter-spacing: 0.04em;
	text-decoration: underline;
	text-transform: none;
}

