:root {
--color-iris:#4D5AE5;
--color-ocean:#404BBF;
--color-navy-blue:#2E2F42;
--color-green:#31D0AA;
--color-slate:#434455;
--color-light-slate:#8E8F99;
--color-cornflower:#E7E9FC;
--color-cloud:#F4F4FD;
--color-navy-blue-modal:#2E2F42;
--color-grey:#2E2F42;
--color-white:#FFFFFF;
--color-dairy:#FCFCFC;
}